@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "./theme.css";

@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IRANYekanX/IRANYekanXVFaNumVF.woff2")
      format("woff-variations"),
    url("/fonts/IRANYekanX/IRANYekanXVFaNumVF.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}

body {
  font-family: "IRANYekanX", sans-serif;
  font-weight: 400;
  font-variation-settings: "dots" 1;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* حذف فلش بالا و پایین برای input[type=number] در Chrome، Safari، Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* حذف فلش‌ها در Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.h-screen-navbar {
  height: calc(100vh - 75px);
}

.bg-gradient-to-white {
  background: linear-gradient(
    rgba(247, 247, 247, 0) 0%,
    rgba(247, 247, 247, 0.09) 8.85%,
    rgb(239, 246, 255) 100%
  );
}
/* ----------- container ----------- */

.container {
  max-width: 1440px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {
  .container {
    max-width: 1440px;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1440px;
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    width: 100%;
    padding-right: 136px;
    padding-left: 136px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-xl {
  max-width: 1440px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {
  .container-xl {
    max-width: 1440px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container-xl {
    max-width: 1440px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 1440px;
    width: 100%;
    padding-right: 72px;
    padding-left: 72px;
    margin-left: auto;
    margin-right: auto;
  }
}
