@import "tailwindcss";

@font-face {
  font-family: "IRANYekanX";
  src: url("/fonts/IRANYekanX/IRANYekanXVFaNumVF.woff2")
      format("woff-variations"),
    url("/fonts/IRANYekanX/IRANYekanXVFaNumVF.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}

body {
  font-family: "IRANYekanX", sans-serif;
  font-weight: 400;
  font-variation-settings: "dots" 1;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  h1 {
    font-size: 3rem; /* text-5xl */
    font-weight: 700; /* font-bold */
    line-height: 1.2;
  }
  h2 {
    font-size: 2.25rem; /* text-4xl */
    font-weight: 600; /* font-semibold */
    line-height: 1.25;
  }
  h3 {
    font-size: 1.875rem; /* text-3xl */
    font-weight: 600; /* font-semibold */
    line-height: 1.3;
  }
  h4 {
    font-size: 1.5rem; /* text-2xl */
    font-weight: 500; /* font-medium */
    line-height: 1.35;
  }
  h5 {
    font-size: 1.25rem; /* text-xl */
    font-weight: 500; /* font-medium */
    line-height: 1.4;
  }
  h6 {
    font-size: 1.125rem; /* text-lg */
    font-weight: 500; /* font-medium */
    line-height: 1.45;
  }
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {
  .container {
    max-width: 1440px;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1440px;
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1240px;
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-xl {
  max-width: 1440px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {
  .container-xl {
    max-width: 1440px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container-xl {
    max-width: 1440px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 1440px;
    width: 100%;
    padding-right: 72px;
    padding-left: 72px;
    margin-left: auto;
    margin-right: auto;
  }
}
